@model BibliotecaUTN.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FK_LibroPrestamo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FK_LibroPrestamo.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FK_AlumnoPrestamo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FK_AlumnoPrestamo.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaLimite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaLimite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FK_StatusPrestamo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FK_StatusPrestamo.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MontoMulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoMulta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPrestamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
